# K-means

## 1. Pacote

### 1.1 Pacote(s) Convencional(is)

In [1]:
import time as time
import numpy as np
import pandas as pd
import pickle as pkl
import winsound as winsound
import warnings as warnings
warnings.filterwarnings("ignore")

### 1.2 Pacote(s) Personalizado(s)

In [2]:
from funcoes import k_means
from funcoes import gerar_relatorio_em_planilha 
from funcoes import gerar_grafico_dendrograma
from funcoes import gerar_elbow_data_chart

In [3]:
# tempo_inicio: tempo de início da execução do código (processo)
tempo_inicio = time.time()
# tempo_inicio: tempo de início da execução do código (processo de cálculo, CPU)
tempo_inicio_CPU = time.perf_counter()

### 2. Carregamento, Armazenamento e Manipulação de Dados

### 2.1 Observações(ões)

   Banco de dados deve estar estruturado da seguinte forma
    
    1. A primeira coluna deve ser de nomeação/identificação das lições;
    2. As colunas seguintes devem ser as variáveis do problema.

### 2.2 Carregamento

In [4]:
# endereco = "banco_de_dados/aeronaves_civis.xlsx"
# endereco = "banco_de_dados/aeronaves_civis_arbitrado.xlsx"
# endereco = "banco_de_dados/aeronaves_militares.xlsx"
# endereco = "banco_de_dados/aeronaves_militares_arbitrado.xlsx"
# endereco = "banco_de_dados/foguetes.xlsm"
# endereco = "banco_de_dados/foguetes.xlsx"
# endereco = "banco_de_dados/quatro_ponto_um.xlsx"
# endereco = "banco_de_dados/QuatroPontoUm.xlsm"
# endereco = "banco_de_dados/seis_ponto_um.xlsx"
# endereco = "banco_de_dados/SeisPontoUm.xlsm"
# endereco = "banco_de_dados/SetePontoUm.xlsm"
# endereco = "banco_de_dados/tres_ponto_um.xlsx"
# endereco = "banco_de_dados/TresPontoUm.xlsm"
# endereco = "banco_de_dados/turbinas_60_licoes.xlsm"
#endereco = "banco_de_dados/turbinas_60_licoes.xlsx"

# endereco =  "banco_de_dados/hubglobe.xlsx"
endereco =  "banco_de_dados/hubglobe_10000.xlsx"

banco_de_dados = pd.read_excel(endereco,
                               sheet_name = 0)

bd_auxiliar = banco_de_dados.copy()

bd_auxiliar.head()

,Column1,Data Nascimento,Sexo,Endereco Cep,Endereco Cidade,Endereco Estado,Tipo Doacao,Motivo Doacao,Tipo Coleta,Agendamento,Avaliacao,Grupo Abo,Rhesus
0,99678,5257490000000000,0,218760,3870,150,20,1040,0,0,0,30,0
1,8934,8058550000000000,0,43830,3520,150,20,20,0,0,0,20,0
2,38173,6577250000000000,0,4850,3520,150,20,20,0,0,0,0,0
3,125299,39323500000000000,0,175970,870,150,20,30,0,0,0,30,0
4,68504,35808700000000000,0,168860,2640,150,20,30,0,0,0,30,10

In [5]:
bd_auxiliar.shape

(10000, 13)

In [6]:
bd_auxiliar.dtypes

Column1            int64
Data Nascimento    int64
Sexo               int64
Endereco Cep       int64
Endereco Cidade    int64
Endereco Estado    int64
Tipo Doacao        int64
Motivo Doacao      int64
Tipo Coleta        int64
Agendamento        int64
Avaliacao          int64
Grupo Abo          int64
Rhesus             int64
dtype: object

In [7]:
aplicar_condicoes_pre_definidas = \
    int(input("Deseja aplicar as " 
              "condições pré-definidas? \n\n"
              "0: NÃO; \n"
              "1: Sim. \n\n"
              "Resposta: "))

In [8]:
"""
A primeira coluna é removida, pois trata-se da 
'Nome da Lição' da aeronave.
"""

if aplicar_condicoes_pre_definidas == 0:
    # excluir: variável para indicar a exclusão ou NÃO da primeira coluna
    excluir = int(input("Deseja excluir primeira coluna da tabela indicada na " 
                        "variável <endereco>? \n\n"
                        "0 (zero): NÃO excluir; \n"
                        "1 (um): excluir. \n\n"
                        "Resposta: "))
elif aplicar_condicoes_pre_definidas == 1:
    excluir = 1

if excluir == 1:
    bd_auxiliar = bd_auxiliar.drop(bd_auxiliar.columns[0],
                                   axis = 1)

bd_auxiliar.head()

,Data Nascimento,Sexo,Endereco Cep,Endereco Cidade,Endereco Estado,Tipo Doacao,Motivo Doacao,Tipo Coleta,Agendamento,Avaliacao,Grupo Abo,Rhesus
0,5257490000000000,0,218760,3870,150,20,1040,0,0,0,30,0
1,8058550000000000,0,43830,3520,150,20,20,0,0,0,20,0
2,6577250000000000,0,4850,3520,150,20,20,0,0,0,0,0
3,39323500000000000,0,175970,870,150,20,30,0,0,0,30,0
4,35808700000000000,0,168860,2640,150,20,30,0,0,0,30,10

In [9]:
"""
A primeira coluna é removida, pois trata-se da 
'Data de Entrada de Operação' da aeronave.
"""
if aplicar_condicoes_pre_definidas == 0:
    # excluir: variável para indicar a exclusão ou NÃO da primeira coluna
    excluir = int(input("Deseja excluir primeira coluna da tabela indicada na " 
                        "variável <endereco>? \n\n"
                        "0 (zero): NÃO excluir; \n"
                        "1 (um): excluir. \n\n"
                        "Resposta: "))
elif aplicar_condicoes_pre_definidas == 1:
    excluir = 0

if excluir == 1:
    bd_auxiliar = bd_auxiliar.drop(bd_auxiliar.columns[0],
                                   axis = 1)

bd_auxiliar.head()

,Data Nascimento,Sexo,Endereco Cep,Endereco Cidade,Endereco Estado,Tipo Doacao,Motivo Doacao,Tipo Coleta,Agendamento,Avaliacao,Grupo Abo,Rhesus
0,5257490000000000,0,218760,3870,150,20,1040,0,0,0,30,0
1,8058550000000000,0,43830,3520,150,20,20,0,0,0,20,0
2,6577250000000000,0,4850,3520,150,20,20,0,0,0,0,0
3,39323500000000000,0,175970,870,150,20,30,0,0,0,30,0
4,35808700000000000,0,168860,2640,150,20,30,0,0,0,30,10

In [10]:
bd_auxiliar.shape

(10000, 12)

### 3. Variável(is)

In [11]:
# sementes: sementes do BIG Data
sementes = bd_auxiliar.values

# n: número total de elementos (linhas)
n = sementes.shape[0]

# num_de_variaveis: número total de variáveis (colunas)
num_de_variaveis = sementes.shape[1]

In [12]:
if aplicar_condicoes_pre_definidas == 0:
    # num_de_k_inicial = Número do k inicial
    num_de_k_inicial = int(input("Digitar o 'Número do k Inicial' = "))
elif aplicar_condicoes_pre_definidas == 1:
    num_de_k_inicial = 2
    
print("Número do k Inicial = " + str(num_de_k_inicial))

Número do k Inicial = 2

In [13]:
if aplicar_condicoes_pre_definidas == 0:
    # K = Número total de clusters
    K = int(input("Digitar o 'Número total de k-clusters K' = "))
elif aplicar_condicoes_pre_definidas == 1:
    K = 15
    
print("Número total de k-clusters K = " + str(K))

Número total de k-clusters K = 15

In [14]:
# Condição para NÃO gerar mais grupos do que elementos
porcentagem = 0.80

if K >= int(porcentagem * n):
    print("Espeficique um valor de "
          "'Número Total de k-clusters K' menor que",
          int(porcentagem * n))
    quit()
    
print("Número total de k-clusters K = " + str(K))

Número total de k-clusters K = 15

In [15]:
if aplicar_condicoes_pre_definidas == 0:
    # num_max_I = Número máximo de iterações
    num_max_I = int(input("Digitar o 'Número total de iterações' = "))
elif aplicar_condicoes_pre_definidas == 1:
    num_max_I = 100
    
print("Número total de iterações = " + str(num_max_I))

Número total de iterações = 100

In [16]:
if num_de_k_inicial <= 1 or num_de_k_inicial > K:
    print("Espeficique um valor de "
          "'Número do k Inicial' maior ou igual a 2 (dois) "
          "e menor ou igual ao 'Número Total K de k-clusters' "
         "(K = " + str(K) + ").")
    quit()
    
print("Número do k Inicial = " + str(num_de_k_inicial))

Número do k Inicial = 2

In [17]:
if aplicar_condicoes_pre_definidas == 0:
    # titulo_do_eixo_x_do_dendrograma = Título do eixo x do dendrograma
    titulo_do_eixo_x_do_dendrograma = input("Digitar o "
                                            "'Título do Eixo x do "
                                            "Dendrograma': ")

elif aplicar_condicoes_pre_definidas == 1:
    titulo_do_eixo_x_do_dendrograma = "Doadores"
    
print("Título do Eixo x do Dendrograma: " + 
      str(titulo_do_eixo_x_do_dendrograma))

Título do Eixo x do Dendrograma: Doadores

In [18]:
"""
Os objetos são salvos para NÃO ter que
executar todo o código novamente, simplesmente
para executar uma function ou fazer um servidor
ler o arquivo.
"""

# Escrever arquivo:
pkl.dump([num_de_k_inicial,
          K, 
          sementes,
          num_max_I], 
         open("pickles/objetos_k_means.pkl",
              "wb"),
         protocol = 4)

## 4. Cálculo(s)

In [19]:
# os medioides_otimos devem ser um arranjo
medioides_otimos_lista = []
ks_min_otimos_lista = []
WSs_total_otimo_lista = []

for k in range(num_de_k_inicial, K + 1, 1):
    
    print(k)

    [distancias_otimas, medioides_otimos, 
     ks_min_otimos, WS_total_otimo] = \
        k_means.k_means(num_de_k_inicial,
                        k,
                        sementes,
                        num_max_I)
        
    medioides_otimos_lista.append(medioides_otimos)
    ks_min_otimos_lista.append(ks_min_otimos)
    WSs_total_otimo_lista.append(WS_total_otimo)

2
3
4
5
6
7
8
9
10
11
12
13
14
15

## 5. Resultado(s)

In [20]:
print("RESULTADO(S) PARA K = " + str(k) + ":")

RESULTADO(S) PARA K = 15:

In [21]:
print("Medioides ótimos:")
pd.DataFrame(medioides_otimos_lista)

Medioides ótimos:

                                                    0
0   [[6410549882824168.0, 4.779143141813351, 13547...
1   [[1145376967645579.2, 4.939024390243903, 13578...
2   [[881666426831180.1, 4.892334194659776, 137707...
3   [[4.364761154891309e+16, 5.271739130434782, 13...
4   [[6794563581886266.0, 4.800817160367722, 13471...
5   [[7093136149312368.0, 4.707269155206287, 13462...
6   [[4.582386949152549e+16, 5.19774011299435, 132...
7   [[6511553766304349.0, 4.945652173913044, 13538...
8   [[5293317305825243.0, 5.224514563106796, 13688...
9   [[3.929909672131147e+16, 5.377049180327869, 12...
10  [[650634132374023.5, 4.833984375, 139563.59375...
11  [[4375571594896331.5, 5.007974481658692, 13166...
12  [[749605906810035.9, 4.8267622461170845, 13954...
13  [[4488213008658008.5, 5.194805194805195, 12981...

In [22]:
endereco

'banco_de_dados/hubglobe_10000.xlsx'

In [23]:
# Gerar relatório em planilha:
endereco = endereco.replace("banco_de_dados/", "")
endereco = endereco.replace(".xlsx", "_")
endereco

'hubglobe_10000_'

In [24]:
# Escrever arquivo:
pkl.dump([endereco,
         banco_de_dados,
         distancias_otimas,
         ks_min_otimos,
         K], open("pickles/objetos_rep.pkl", "wb"),
         protocol = 4)

In [25]:
gerar_relatorio_em_planilha.gerar_relatorio_em_planilha(endereco,
                                                        banco_de_dados,
                                                        distancias_otimas,
                                                        ks_min_otimos,
                                                        k)

In [26]:
print("")
print("WS total ótimo:")
print(WSs_total_otimo_lista)
print("")

# Gráfico(s):

# Plotar Dendrograma:
if n <= 40:
    populacao = n
elif n > 40:
    populacao = 40

# for populacao in range(2, n + 1, 1): caso se queira executar
# o programa para gerar os Elbow Data Charts para cada valor
# de população

endereco_antigo = endereco
endereco = endereco + str(populacao) + "_"

WS total ótimo:
[array([2.56146646e+19]), array([1.88819275e+19]), array([1.42242266e+19]), array([1.09111279e+19]), array([9.25327742e+18]), array([8.23412254e+18]), array([6.61228759e+18]), array([5.96797408e+18]), array([5.40809612e+18]), array([4.89561224e+18]), array([4.59579138e+18]), array([4.20566031e+18]), array([4.13769857e+18]), array([3.9648035e+18])]

In [27]:
# Escrever arquivo:
pkl.dump([endereco,
          banco_de_dados,
          distancias_otimas,
          k,
          populacao,
          titulo_do_eixo_x_do_dendrograma], 
         open("pickles/objetos_den.pkl", "wb"),
         protocol = 4)

In [28]:
gerar_grafico_dendrograma.gerar_grafico_dendrograma(endereco,
                                                    banco_de_dados,
                                                    distancias_otimas,
                                                    k,
                                                    populacao,
                              titulo_do_eixo_x_do_dendrograma)

saidas/dendrograma_hubglobe_10000_40_15.png

In [29]:
endereco = endereco_antigo

In [30]:
# Plotar o Elbow Data Chart:

endereco = endereco.replace("banco_de_dados/", "")
endereco = endereco + str(n) + "_"

In [31]:
# Escrever arquivo:
pkl.dump([endereco,
          num_de_k_inicial,
          K,
          WSs_total_otimo_lista], 
         open("pickles/objetos_edc.pkl", "wb"),
        protocol = 4)

In [32]:
gerar_elbow_data_chart.gerar_elbow_data_chart(endereco,
                                              num_de_k_inicial,
                                              K,
                                              WSs_total_otimo_lista)

In [33]:
frequencia = 2500 # (Hertz)
duracao = 1000 # (ms)
winsound.Beep(frequencia, duracao)

In [34]:
tempo_fim = time.time() - tempo_inicio
tempo_fim_CPU = time.perf_counter() - tempo_inicio_CPU
print("O tempo de execução da aplicação é = " +
      str(round(tempo_fim, 2)) + " s")

O tempo de execução da aplicação é = 306731.31 s